@import '../../constants/color-variable.scss';

.row {
    display: flex;
    gap: 5px;
    font-weight: 600;
    font-size: 1.8rem;

    &--bounce {
      animation: 0.3s linear bounce;
    }
  
    .letter {
      width: 60px;
      height: 60px;
      background-color: #FBFCFF;
      border: 2px solid $border-color;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform-style: preserve-3d;
      text-transform: uppercase;

      &--active {
        border-color: #A7ADC0;
        color: black;
        animation: 0.1s linear scale;
      }
  
      .back {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateX(180deg);
        backface-visibility: hidden;
      }
    }
  
    .rotate {
      &--100 {
        animation: 0.5s linear 0.1s rotate forwards;
      }
  
      &--200 {
        animation: 0.5s linear 0.2s rotate forwards;
      }
  
      &--300 {
        animation: 0.5s linear 0.3s rotate forwards;
      }
  
      &--400 {
        animation: 0.5s linear 0.4s rotate forwards;
      }
  
      &--500 {
        animation: 0.5s linear 0.5s rotate forwards;
      }
    }
  
    .present {
      .back {
        background-color: $present-color;
        border-color: $present-color;
        color: #ffffff;
      
      }
    }
  
    .absent {
      .back {
        background-color: $absent-color;
        border-color: $absent-color;
        color: #ffffff;
      }
    }
  
    .correct {
      .back {
        background-color: $correct-color;
        border-color: $correct-color;
        color: #ffffff;
      }
    }
  }

  .dark-mode {
    .letter {
      color: #fff;
      background-color: $dark-row; 
      border-color: $dark-border;

      &--active {
        background-color: $dark-back;
      }
    }
  
    .letter--active {
      color: #fff;
      background-color: $dark-row;
      border-color: $dark-active-border;
    }

    .back {
      background-color: $dark-back;
    }

    .row .absent .back {
      background-color: $dark-back;
      color: #ffffff;
  }
  }

  @keyframes rotate {
    0% {
      transform: rotate3d(1, 0, 0, 0deg);
    }
    100% {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(6px);
    }
    60% {
      transform: translateX(-6px);
    }
    80% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(-6px);
    }
  }
  
  @media only screen and (max-width: 700px) {
    .row {
      .letter {
        width: 50px;
        height: 50px;
      }
    }
  }