.modal {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 280px;
    height: 100px;
    border-radius: 8px;
    text-align: center;
    z-index: 10; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.wordle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    &:focus {
        outline: none;
    }

    .timer {
        color: #000;
        position: fixed;
        top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            margin-left: 4px;
        }
    }
}

.letterContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
    margin-bottom: 20px;

    @media (max-width: 500px) {
        grid-template-columns: repeat(3, 1fr); 
    }
}

.title {
    text-transform: capitalize;
}

.notification {
    text-align: center;
    height: 1rem;
    margin: 1em;
    color: salmon;
    font-weight: 600;
    font-size: 1.25rem;

    &--green {
        color: green;
    }
}

.dark-mode {
    .timer {
        color: #fff;
    }
}