@import "../../../constants/color-variable.scss";

@font-face {
    font-family: "SUIT-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.modalOverlayTransparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .modalContent {
        width: 560px;
    }
}

.statisticsModal {
    height: 700px;
    max-width: 580px;
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalHeader {
    width: 100%;
    border-radius: 7px;
    background-color: $modal-header;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: relative;

    .closeButton {
        position: absolute;
        right: 6%;
        top: 8%;
        background-color: transparent;
        color: #818aa3;

        &:hover {
            color: #000;
            background-color: transparent;
        }
    }
}

.statsContainer {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
    .statsItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 88px;
        background-color: #f5f7fb;
        border-radius: 8px;

        h2 {
            font-size: 2.4rem;
            color: #363e51;
        }

        p {
            font-size: 0.8rem;
            color: #818692;
        }
    }
}

.distributionContainer {
    margin-top: 20px;
    color: #2E3238;

    .distributionRow {
        display: flex;
        align-items: center;
        margin: 20px;
    }

    .attempt {
        width: 30px;
        text-align: center;
        font-weight: bold;
        font-family: "SUIT-Regular";
    }

    .progressBar {
        width: 460px;
        background-color: #E7EBF1;
        border-radius: 10px;
        flex: 1;
        height: 25px;
        margin: 0 10px;
        position: relative;
    }

    .progress {
        background-color: #c0d1fa;
        height: 100%;
        border-radius: 10px;
        width: 140%;
    }

    .percentage {
        width: 40px;
        text-align: center;
        position: absolute;
        left: 12%;
        font-size: 0.8rem;
        font-family: "SUIT-Regular";
        font-weight: 500;
    }

    .count {
        width: 30px;
        text-align: center;
    }
}

.resetBtnContainer {
    margin-top: 20px;
    button {
        width: 100px;
    }

}

.dark-mode {
    .statisticsModal {
        background-color: $dark-bgColor;
    }
    .statsItem {
        background-color: #24273a;
        h2 {
            color: #fff;
        }
    }

    .distributionContainer {
        color: #fff;
    }

    .percentage {
        color: #000;
    }
}

@media (max-width: 768px) {
    .statisticsModal {
        width: 90%;
        max-width: none;
        padding: 20px;
    }

    .statsContainer {
        flex-direction: row;
        gap: 10px;
        // width: 80%;
        .statsItem {
            p {
                font-size: 0.7rem;
            }
            h2 {
                font-size: 1.8rem;
            }
        }
    }

    .distributionContainer {
        .distributionRow {
            flex-direction: row;
            margin: 20px 0;
        }

        .progressBar {
            width: 300px;
            height: 25px;
        }

        .attempt, .percentage, .count {
            text-align: center;
            font-size: 1rem;
        }

        .percentage {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 480px) {
    .statisticsModal {
        padding: 10px;
    }

    .modalHeader {
        width: 90%;
        font-size: 1.2rem;
    }

    .statsContainer {
        padding: 10px;
    }

    .distributionContainer {
        margin-top: 10px;
        width: 60%;

        .progressBar {
            height: 20px;
        }

        .percentage, .count {
            font-size: 0.6rem;
        }
    }
}
