$background-color: #ffffff;
$correct-color: #79B851;
$absent-color: #A4AEC4;
$present-color: #F3C237;
$border-color: #DEE1E9;
$hover-color: #BCC4D7;
$button-color: #EBEDF3;
$button-hover: #E6F3E6;
$button-hover-text: #57AB57;