@import "../../constants/color-variable.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px;
    margin-bottom: 5px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
}

.left-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.right-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.answer {
    width: 60px;
    font-size: 0.8rem;
    font-weight: 600;
}

button {
    width: 40px;
    height: 40px;
    background-color: $button-color;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition:
        background-color 0.2s linear,
        color 0.2s linear;

    &:hover {
        background-color: $button-hover;
        color: $button-hover-text;
    }
}

.header-title {
    font-size: 1.25rem;
    text-align: center;
    flex-grow: 1;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .header {
        padding: 8px;
    }

    .button {
        width: 35px;
        height: 35px;
    }

    .header-title {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .header-title {
        font-size: 0.85rem;
    }

    .button {
        width: 30px;
        height: 30px;
    }
}
