@import "./constants/color-variable.scss";

@font-face {
    font-family: "Paperlogy-8ExtraBold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SUIT-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Paperlogy-8ExtraBold";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: $background-color;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    font-family: "SUIT-Regular";
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.absent {
    background-color: $absent-color;
}

.present {
    background-color: $present-color;
}

.correct {
    background-color: $correct-color;
}

.bold {
    font-weight: 800;
}

.dark-mode {
    background-color: $dark-bgColor;

    button {
        background-color: $dark-button;
        color: #fff;
    }

    .header {
        button {
            &:hover {
                background-color: $dark-header-button;
                color: $dark-header-text;
            }
        }
    }

    .modalContainer {
        background-color: #13141c;
    }

    .modalHeader {
        background-color: #313447;
        color: #fff;
    }

    a {
        color: #fff;
    }
}
